service/src/main/resources/wsdl/myService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://vborovik.axbit.ru/competence/myService/"
                  xmlns:core="http://vborovik.axbit.ru/competence/core/"
                  xmlns:ns="http://vborovik.axbit.ru/competence/myService/types/"
                  name="myService"
                  targetNamespace="http://vborovik.axbit.ru/competence/myService/">

    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://vborovik.axbit.ru/competence/core/"
                        schemaLocation="competence.core.xsd"/>
            <xsd:import namespace="http://vborovik.axbit.ru/competence/myService/types/"
                        schemaLocation="myService.types.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <!--    Inputs msg-->
    <wsdl:message name="getCustomerListInput">
        <wsdl:part name="body" element="ns:getCustomerListRequest"/>
    </wsdl:message>

    <wsdl:message name="getExecutorListInput">
        <wsdl:part name="body" element="ns:getExecutorListRequest"/>
    </wsdl:message>

    <!--    Output msg-->
    <wsdl:message name="getCustomerListOutput">
        <wsdl:part name="body" element="ns:getCustomerListResponse"/>
    </wsdl:message>
    <wsdl:message name="getExecutorListOutput">
        <wsdl:part name="body" element="ns:getExecutorListResponse"/>
    </wsdl:message>

    <!--    PortType  -->
    <wsdl:portType name="myServicePortType">
        <wsdl:operation name="getCustomerList">
            <wsdl:documentation>

            </wsdl:documentation>
            <wsdl:input message="tns:getCustomerListInput"/>
            <wsdl:output message="tns:getCustomerListOutput"/>
        </wsdl:operation>

        <wsdl:operation name="getExecutorList">
            <wsdl:documentation>

            </wsdl:documentation>
            <wsdl:input message="getExecutorListInput"/>
            <wsdl:output message="getExecutorListOutput"/>
        </wsdl:operation>
    </wsdl:portType>

</wsdl:definitions>
