service/src/main/resources/wsdl/v1/userService/userService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://vborovik.axbit.ru/competence/userService/v1/"
                  xmlns:core="http://vborovik.axbit.ru/competence/core/v1/"
                  xmlns:ns="http://vborovik.axbit.ru/competence/userService/types/v1/"
                  name="userService"
                  targetNamespace="http://vborovik.axbit.ru/competence/userService/v1/">

    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://vborovik.axbit.ru/competence/core/v1/"
                        schemaLocation="../competence.core.xsd"/>
            <xsd:import namespace="http://vborovik.axbit.ru/competence/userService/types/v1/"
                        schemaLocation="userService.types.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <!--    Inputs msg-->
    <wsdl:message name="getCustomerListInput">
        <wsdl:part name="body" element="ns:getCustomerListRequest"/>
    </wsdl:message>

    <wsdl:message name="getExecutorListInput">
        <wsdl:part name="body" element="ns:getExecutorListRequest"/>
    </wsdl:message>

    <!--    Output msg-->
    <wsdl:message name="getCustomerListOutput">
        <wsdl:part name="body" element="ns:getCustomerListResponse"/>
    </wsdl:message>
    <wsdl:message name="getExecutorListOutput">
        <wsdl:part name="body" element="ns:getExecutorListResponse"/>
    </wsdl:message>

    <!--    PortType  -->
    <wsdl:portType name="userServicePortType">
        <wsdl:operation name="getCustomerList">
            <wsdl:documentation>

            </wsdl:documentation>
            <wsdl:input message="tns:getCustomerListInput"/>
            <wsdl:output message="tns:getCustomerListOutput"/>
        </wsdl:operation>

        <wsdl:operation name="getExecutorList">
            <wsdl:documentation>

            </wsdl:documentation>
            <wsdl:input message="tns:getExecutorListInput"/>
            <wsdl:output message="tns:getExecutorListOutput"/>
        </wsdl:operation>
    </wsdl:portType>

    <!--    Binding    -->
    <wsdl:binding name="userServiceBinding" type="tns:userServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getCustomerList">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getExecutorList">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>

    <!--    Service  -->
    <wsdl:service name="userService">
        <wsdl:documentation>Сервис пользователя</wsdl:documentation>
        <wsdl:port name="userServicePortType" binding="tns:userServiceBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
