service/src/main/resources/wsdl/v1/userService/userService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://vborovik.axbit.ru/competence/userService/v1/"
                  xmlns:fault="http://vborovik.axbit.ru/competence/faults/v1/"
                  xmlns:core="http://vborovik.axbit.ru/competence/core/v1/"
                  xmlns:ns="http://vborovik.axbit.ru/competence/userService/types/v1/"
                  name="userService"
                  targetNamespace="http://vborovik.axbit.ru/competence/userService/v1/">

    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://vborovik.axbit.ru/competence/core/v1/"
                        schemaLocation="../competence.core.xsd"/>
            <xsd:import namespace="http://vborovik.axbit.ru/competence/userService/types/v1/"
                        schemaLocation="userService.types.xsd"/>
            <xsd:import namespace="http://vborovik.axbit.ru/competence/faults/v1/"
                        schemaLocation="competence.faults.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <!--    Exception-->
    <wsdl:message name="fault">
        <wsdl:documentation>Ошибка</wsdl:documentation>
        <wsdl:part name="body" element="fault:fault"/>
    </wsdl:message>

    <!--    Inputs msg-->
    <wsdl:message name="getCustomerListInput">
        <wsdl:part name="body" element="ns:getCustomerListRequest"/>
    </wsdl:message>

    <wsdl:message name="getExecutorListInput">
        <wsdl:part name="body" element="ns:getExecutorListRequest"/>
    </wsdl:message>

    <wsdl:message name="getOrderListInput">
        <wsdl:part name="body" element="ns:getOrderListRequest"/>
    </wsdl:message>

    <wsdl:message name="getBillListInput">
        <wsdl:part name="body" element="ns:getBillListRequest"/>
    </wsdl:message>

    <wsdl:message name="editCustomerInput">
        <wsdl:part name="body" element="ns:editCustomerRequest"/>
    </wsdl:message>

    <wsdl:message name="editExecutorInput">
        <wsdl:part name="body" element="ns:editExecutorRequest"/>
    </wsdl:message>

    <wsdl:message name="editOrderInput">
        <wsdl:part name="body" element="ns:editOrderRequest"/>
    </wsdl:message>

    <wsdl:message name="editEvaluationInput">
        <wsdl:part name="body" element="ns:editEvaluationRequest"/>
    </wsdl:message>

    <wsdl:message name="createCustomerInput">
        <wsdl:part name="body" element="ns:createCustomerRequest"/>
    </wsdl:message>

    <wsdl:message name="createExecutorInput">
        <wsdl:part name="body" element="ns:createExecutorRequest"/>
    </wsdl:message>

    <wsdl:message name="createOrderInput">
        <wsdl:part name="body" element="ns:createOrderRequest"/>
    </wsdl:message>

    <wsdl:message name="createBillInput">
        <wsdl:part name="body" element="ns:createBillRequest"/>
    </wsdl:message>

    <wsdl:message name="deleteCustomerInput">
        <wsdl:part name="body" element="ns:deleteCustomerRequest"/>
    </wsdl:message>

    <wsdl:message name="deleteExecutorInput">
        <wsdl:part name="body" element="ns:deleteExecutorRequest"/>
    </wsdl:message>

    <wsdl:message name="deleteOrderInput">
        <wsdl:part name="body" element="ns:deleteOrderRequest"/>
    </wsdl:message>

    <wsdl:message name="activateCustomerInput">
        <wsdl:part name="body" element="ns:activateCustomerRequest"/>
    </wsdl:message>

    <wsdl:message name="activateExecutorInput">
        <wsdl:part name="body" element="ns:activateExecutorRequest"/>
    </wsdl:message>

    <wsdl:message name="activateOrderInput">
        <wsdl:part name="body" element="ns:activateOrderRequest"/>
    </wsdl:message>

    <wsdl:message name="makeOrderPaymentInput">
        <wsdl:part name="body" element="ns:makeOrderPaymentRequest"/>
    </wsdl:message>

    <!--    Output msg-->
    <wsdl:message name="getCustomerListOutput">
        <wsdl:part name="body" element="ns:getCustomerListResponse"/>
    </wsdl:message>

    <wsdl:message name="getExecutorListOutput">
        <wsdl:part name="body" element="ns:getExecutorListResponse"/>
    </wsdl:message>

    <wsdl:message name="getOrderListOutput">
        <wsdl:part name="body" element="ns:getOrderListResponse"/>
    </wsdl:message>

    <wsdl:message name="getBillListOutput">
        <wsdl:part name="body" element="ns:getBillListResponse"/>
    </wsdl:message>

    <wsdl:message name="editCustomerOutput">
        <wsdl:part name="body" element="ns:defaultResponse"/>
    </wsdl:message>

    <wsdl:message name="editExecutorOutput">
        <wsdl:part name="body" element="ns:defaultResponse"/>
    </wsdl:message>

    <wsdl:message name="editOrderOutput">
        <wsdl:part name="body" element="ns:defaultResponse"/>
    </wsdl:message>

    <wsdl:message name="createCustomerOutput">
        <wsdl:part name="body" element="ns:defaultResponse"/>
    </wsdl:message>

    <wsdl:message name="createExecutorOutput">
        <wsdl:part name="body" element="ns:defaultResponse"/>
    </wsdl:message>

    <wsdl:message name="createOrderOutput">
        <wsdl:part name="body" element="ns:defaultResponse"/>
    </wsdl:message>

    <wsdl:message name="createBillOutput">
        <wsdl:part name="body" element="ns:defaultResponse"/>
    </wsdl:message>

    <wsdl:message name="deleteCustomerOutput">
        <wsdl:part name="body" element="ns:defaultResponse"/>
    </wsdl:message>

    <wsdl:message name="deleteExecutorOutput">
        <wsdl:part name="body" element="ns:defaultResponse"/>
    </wsdl:message>

    <wsdl:message name="deleteOrderOutput">
        <wsdl:part name="body" element="ns:defaultResponse"/>
    </wsdl:message>

    <wsdl:message name="activateCustomerOutput">
        <wsdl:part name="body" element="ns:defaultResponse"/>
    </wsdl:message>

    <wsdl:message name="activateExecutorOutput">
        <wsdl:part name="body" element="ns:defaultResponse"/>
    </wsdl:message>

    <wsdl:message name="activateOrderOutput">
        <wsdl:part name="body" element="ns:defaultResponse"/>
    </wsdl:message>

    <wsdl:message name="editEvaluationOutput">
        <wsdl:part name="body" element="ns:defaultResponse"/>
    </wsdl:message>

    <wsdl:message name="makeOrderPaymentOutput">
        <wsdl:part name="body" element="ns:defaultResponse"/>
    </wsdl:message>

    <!--    PortType  -->
    <wsdl:portType name="userServicePortType">
        <wsdl:operation name="getCustomerList">
            <wsdl:documentation>Метод, который возвращает список клиентов Customer</wsdl:documentation>
            <wsdl:input message="tns:getCustomerListInput"/>
            <wsdl:output message="tns:getCustomerListOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>

        <wsdl:operation name="getExecutorList">
            <wsdl:documentation>Метод, который возвращает список исполнителей Executor</wsdl:documentation>
            <wsdl:input message="tns:getExecutorListInput"/>
            <wsdl:output message="tns:getExecutorListOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>

        <wsdl:operation name="getOrderList">
            <wsdl:documentation>Метод, который возвращает список заказов Order</wsdl:documentation>
            <wsdl:input message="tns:getOrderListInput"/>
            <wsdl:output message="tns:getOrderListOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>

        <wsdl:operation name="getBillList">
            <wsdl:documentation>Метод, который возвращает список счетов на оплату Bill</wsdl:documentation>
            <wsdl:input message="tns:getBillListInput"/>
            <wsdl:output message="tns:getBillListOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>

        <wsdl:operation name="editCustomer">
            <wsdl:documentation>Метод для изменения клиента Customer</wsdl:documentation>
            <wsdl:input message="tns:editCustomerInput"/>
            <wsdl:output message="tns:editCustomerOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>

        <wsdl:operation name="editExecutor">
            <wsdl:documentation>Метод для изменения исполнителя Executor</wsdl:documentation>
            <wsdl:input message="tns:editExecutorInput"/>
            <wsdl:output message="tns:editExecutorOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>

        <wsdl:operation name="editOrder">
            <wsdl:documentation>Метод для изменения заказа Order</wsdl:documentation>
            <wsdl:input message="tns:editOrderInput"/>
            <wsdl:output message="tns:editOrderOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>

        <wsdl:operation name="editEvaluation">
            <wsdl:documentation>Метод для изменения оценки</wsdl:documentation>
            <wsdl:input message="tns:editEvaluationInput"/>
            <wsdl:output message="tns:editEvaluationOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>

        <wsdl:operation name="createCustomer">
            <wsdl:documentation>Метод для создания клиента Customer</wsdl:documentation>
            <wsdl:input message="tns:createCustomerInput"/>
            <wsdl:output message="tns:createCustomerOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>

        <wsdl:operation name="createExecutor">
            <wsdl:documentation>Метод для создания исполнителя Executor</wsdl:documentation>
            <wsdl:input message="tns:createExecutorInput"/>
            <wsdl:output message="tns:createExecutorOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>

        <wsdl:operation name="createOrder">
            <wsdl:documentation>Метод для создания заказа Order</wsdl:documentation>
            <wsdl:input message="tns:createOrderInput"/>
            <wsdl:output message="tns:createOrderOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>

        <wsdl:operation name="createBill">
            <wsdl:documentation>Метод для создания счета на оплату Bill</wsdl:documentation>
            <wsdl:input message="tns:createBillInput"/>
            <wsdl:output message="tns:createBillOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>

        <wsdl:operation name="deleteCustomer">
            <wsdl:documentation>Метод для удаления клиента Customer</wsdl:documentation>
            <wsdl:input message="tns:deleteCustomerInput"/>
            <wsdl:output message="tns:deleteCustomerOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>

        <wsdl:operation name="deleteExecutor">
            <wsdl:documentation>Метод для удаления исполнителя Executor</wsdl:documentation>
            <wsdl:input message="tns:deleteExecutorInput"/>
            <wsdl:output message="tns:deleteExecutorOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>

        <wsdl:operation name="deleteOrder">
            <wsdl:documentation>Метод для удаления заказа Order</wsdl:documentation>
            <wsdl:input message="tns:deleteOrderInput"/>
            <wsdl:output message="tns:deleteOrderOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>

        <wsdl:operation name="activateCustomer">
            <wsdl:documentation>Метод для активации удаленного клиента Customer</wsdl:documentation>
            <wsdl:input message="tns:activateCustomerInput"/>
            <wsdl:output message="tns:activateCustomerOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>

        <wsdl:operation name="activateExecutor">
            <wsdl:documentation>Метод для активации удаленного исполнителя Executor</wsdl:documentation>
            <wsdl:input message="tns:activateExecutorInput"/>
            <wsdl:output message="tns:activateExecutorOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>

        <wsdl:operation name="activateOrder">
            <wsdl:documentation>Метод для активации удаленного заказа Order</wsdl:documentation>
            <wsdl:input message="tns:activateOrderInput"/>
            <wsdl:output message="tns:activateOrderOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>

        <wsdl:operation name="makeOrderPayment">
            <wsdl:documentation>Метод для оплаты счета заказа Order</wsdl:documentation>
            <wsdl:input message="tns:makeOrderPaymentInput"/>
            <wsdl:output message="tns:makeOrderPaymentOutput"/>
            <wsdl:fault name="fault" message="tns:fault"/>
        </wsdl:operation>
    </wsdl:portType>

    <!--    Binding    -->
    <wsdl:binding name="userServiceBinding" type="tns:userServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getCustomerList">
            <soap:operation soapAction="getCustomerList" soapActionRequired="true"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getExecutorList">
            <soap:operation soapAction="getExecutorList" soapActionRequired="true"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getOrderList">
            <soap:operation soapAction="getOrderList" soapActionRequired="true"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getBillList">
            <soap:operation soapAction="getBillList" soapActionRequired="true"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="editCustomer">
            <soap:operation soapAction="editCustomer" soapActionRequired="true"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="editExecutor">
            <soap:operation soapAction="editExecutor" soapActionRequired="true"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="editOrder">
            <soap:operation soapAction="editOrder" soapActionRequired="true"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="editEvaluation">
            <soap:operation soapAction="editEvaluation" soapActionRequired="true"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="createCustomer">
            <soap:operation soapAction="createCustomer" soapActionRequired="true"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="createExecutor">
            <soap:operation soapAction="createExecutor" soapActionRequired="true"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="createOrder">
            <soap:operation soapAction="createOrder" soapActionRequired="true"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="createBill">
            <soap:operation soapAction="createBill" soapActionRequired="true"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="deleteCustomer">
            <soap:operation soapAction="deleteCustomer" soapActionRequired="true"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="deleteExecutor">
            <soap:operation soapAction="deleteExecutor" soapActionRequired="true"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="deleteOrder">
            <soap:operation soapAction="deleteOrder" soapActionRequired="true"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="activateCustomer">
            <soap:operation soapAction="activateCustomer" soapActionRequired="true"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="activateExecutor">
            <soap:operation soapAction="activateExecutor" soapActionRequired="true"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="activateOrder">
            <soap:operation soapAction="activateOrder" soapActionRequired="true"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="makeOrderPayment">
            <soap:operation soapAction="makeOrderPayment" soapActionRequired="true"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <!--    Service  -->
    <wsdl:service name="userService">
        <wsdl:documentation>Сервис пользователя</wsdl:documentation>
        <wsdl:port name="userServicePortType" binding="tns:userServiceBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
