service/src/main/resources/wsdl/v1/competence.filterTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://vborovik.axbit.ru/competence/filterTypes/v1/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:core="http://vborovik.axbit.ru/competence/core/v1/"
           targetNamespace="http://vborovik.axbit.ru/competence/filterTypes/v1/"
           elementFormDefault="qualified">

    <xs:include schemaLocation="competence.filterTypes.xsd"/>
    <xs:import namespace="http://vborovik.axbit.ru/competence/core/v1/"
               schemaLocation="competence.core.xsd"/>

    <xs:complexType name="GetCustomerListFilterType">
        <xs:sequence>
            <xs:element name="customerId" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="customerName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="customerSurname" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GetExecutorListFilterType">
                <xs:sequence>
                    <xs:element name="executorId" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="executorName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="executorSurname" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
    </xs:complexType>
</xs:schema>